/* Prequisites */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;

    background: #141415 url(images/f1-logo-large.svg) no-repeat center 20%;
}

/* General */
.dark, .event-name {
    color: #76767C;
}

.special {
    color: #FFC453;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Main content box */
main {
    margin: auto;
    width: 350px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

/* App title */
header>* {
    display: inline;
}
.title {
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
}

/* Navigation tabs */
nav {
    margin: 30px 0 24px;
}
.nav-button {
    padding: 8px 24px;

    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-button:hover {
    color: #FFFFFF;
    background-color: #28282a;
    border-radius: 5px;
}

.selected {
    background-color: #212124;
    border-radius: 5px;
    color: inherit;
}

/* General content box*/
.content {
    display: none;
    flex-direction: column;

    background-color: #141415;
    border: 1px solid #3A3A3A;
    border-radius: 16px;

    font-weight: 500;

    /* Prevent child backgrounds from overflowing */
    overflow: hidden;
}
.content:target {
    display: flex;
}

/* --- Up Next tab --- */
/* Race info */
.race-info {
    display: flex;
    flex-direction: column;
    gap: 14.5px;

    background-color: #1A1A1C;
    padding: 24px 24px 30px;
    margin-bottom: 8px;
}
.datetime {
    font-size: 24px;
}
.country {
    font-size: 20px;
}
.circuit {
    font-size: 14px;
}
/* Events info */
.events {
    margin: 0 24px;
    font-size: 14px;
    border-spacing: 0 24px;
}
.event-date {
    text-align: center;
}
.event-time {
    text-align: right;
}
/* Add dates to calendar button */
.calendar-button {
    margin: 8px 24px 32px;
    padding: 14px 0;
    border-style: none;
    border-radius: 100px;
    background-color: #B62A2A;

    color: inherit;
    font-size: 16px;
}
.calendar-button:hover {
    background-color: #cf3e3e;
    cursor: pointer;
}

.driver-name {
    padding-left: 1rem;
    text-align: left;
}

.team-name {
    text-align: left;
    padding-right: 2rem;
    color: #76767C;
}


/* Full Race Calendar */

.schedule {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(20, 20, 20, .9);
    transition: 0.5s;
    overflow: hidden;
}

.schedule-content {
    display: flex;
    gap: 1rem;
    margin-top: 16rem;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 36px;
    font-weight: bold;
    color: white;
    top: 20px;
    right: 45px;
    cursor: pointer;
}

.race-info-full {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3A3A3A;
    border-radius: 16px;
    width: 100px;
    height: 100px;
}


/* --- Standings Tab --- */

#standings table {
    display: block;
    overflow: auto;
    max-height: 450px;
}
#standings table::-webkit-scrollbar {
    display: none;
}


/* Snackbar */

.snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 400px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
}

.snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.warning {
    background-color: #cf9822;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.full-container {
    display: flex;
    flex-direction: row;
    background-color: #141415;
    border-style: solid;
    border-color: #3A3A3A;
}

.full-left, .full-right {
    align-self: stretch;
}


/* ------ News ------ */

#news {
    max-height: 600px;
    overflow-y: auto;
}
#news::-webkit-scrollbar {
    display: none;
}

/* --- Latest --- */

#latest-news {
    padding: 16px 16px 8px;
}

#news h2 {
    font-weight: 500;
    font-size: 14px;
    color: #76767C;
    margin-top: 0;
}

.large-news {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    overflow: hidden;
}

.large-news:hover .large-news-text {
    transform: translateY(-5%);
}

.large-news:hover img {
    transform: scale(1.1);
}

.large-news::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .95));
}

.large-news img {
    display: block;
    width: 100%;
    transition: transform .35s;
}

.large-news-text {
    position: absolute;
    translate: 0 -100%;
    z-index: 1;
    padding: 16px;
    transition: transform .35s;
}

.large-news-text span {
    margin-right: 10px;
}

.large-news-text p {
    margin: 8px auto 0;
    font-weight: 400;
    font-size: 16px;
}


/* --- Other Stories --- */

#other-news {
    padding: 8px 16px 16px;
}

.small-news {
    display: flex;
    padding: 8px;
    margin: 12px 0;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    gap: 10px;
    max-height: 88px;
    overflow: auto;
}
.small-news::-webkit-scrollbar {
    display: none;
}

.small-news img {
    width: 70px;
    border-radius: 8px;
}

.small-news-text p {
    font-size: 12px;
    margin: 0 0 4px;
}

.small-news-text .posted {
    font-size: 12px;
}