.schedule {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(20, 20, 20, .9);
    transition: 0.5s;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 36px;
    font-weight: bold;
    color: white;
    top: 20px;
    right: 45px;
    cursor: pointer;
}

.schedule-content {
    height: 100%;
    overflow-y: auto;
}

.schedule-content::-webkit-scrollbar {
    display: none;
}

/* ------ Race  ------ */

.race-container {
    display: flex;
    margin: 16px auto;

    background-color: #141415;
    border: 2px #3A3A3A solid;
    border-radius: 16px;

    width: 640px;
    height: 245px;
    overflow: hidden;
}

.schedule-content .race-container:first-child {
    margin-top: 64px;
}

.schedule-content .race-container:last-child {
    margin-bottom: 64px;
}

.full-left, .full-right {
    width: 320px;
    margin-bottom: 0px;
}

.round-num {
    margin-bottom: 28px;
}