/* --- Standings Tab --- */
/* Note: several classes from upnext.css are also applied to the standings tab */

#standings table::-webkit-scrollbar {
    display: none;
}

.standings-table {
    display: block;
    overflow: auto;
    max-height: 450px;
}

.loader-table {
    display: flex;
    justify-content: center;
}